<h1 class="userheader">Current Users</h1>
<!-- <p>Find me in app/views/users/index.html.erb</p> -->

<div class="container">

<ul>
  <% @users.each_with_index do |user, idx|%>
     <div class="probox">
<li class="userlist"><%= image_tag("p#{idx + 1}.jpg", class:"pics") %> <%=  link_to user.name, user  %> </li>
     </div>
  <% end %>
</ul>
</div>
