// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media screen and (max-width: 412px) {
  li.userlist {
    margin-left: -30%;
    margin-bottom: 3%;
  }
}

.init_block {
  margin: auto;
  width: 70%;
}
.btn-lg, .btn-group-lg>.btn {
  color: black;
  margin-top: 5%;
  margin-bottom: 5%;
}
a:hover {
  background-color: white;
  color: #FF3B3F;
  text-decoration: none;
}
a:hover:visited {
  color: #FF3B3F;
}

a:visted {
    color: black;
}

.pics {
  width: 200px;
  height: 200px;
  padding: 1%;

  border-radius: 30%;
}

div.profilepic img {
  width: 200px;
  height: 200px;
  padding: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 35%;
}
.highlighted span {
  font-family: 'Raleway';
}

img.site_logo {
  margin-right: 1%;
  width: 50px;
  height: auto;
  margin: 1% 0;
  background-size: cover;
}
.profile_links {
  margin-left: 10px;
}
div.col-md-1 li a {
  padding: 5px;
  width: auto;
}
img.firendspic {
  object-fit: cover;
}
